<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Html forms </h1>

    <form  method="POST">

        {% csrf_token %} 

        <!-- <form method="GET"> -->

        <label for="lohi" >admin</label>
        
        <input type="text" name="lohi" id="lohi"> <br><br>

        <label for="pw">Enter password</label>

        <input type="password" name="pw" id="lohi"> <br><br>
        <input type="submit">
        
        </form>

    </center>


    

    </form>
    
</body>
</html>